body {
  margin: 1.5em;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform .5s ease-in-out;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 8em;
}

nav ul a {
  color: #000;
  padding: .75em 2em;
  display: block;
  width: 100%;
}

nav ul a:hover {
  background: #c9c9c9;
}

nav .close {
  float: right;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/redshoe.jpg");
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-position: 20% 20%;
  animation: introload 2s forwards;
}

.logo {
  color: #fff;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
}

header svg {
  width: 2.3em;
  margin-top: .6em;
}

h1 {
  font-size: 3rem;
  margin-top: 2em;
  line-height: 3.3rem;
}

.subhead {
  font-size: 1.4rem;
}

section.hero {
  color: #fff;
  height: 90vh;
  opacity: 0;
  animation: moveDown 1s ease-in-out forwards;
}

section.hero svg {
  stroke: #fff;
  position: absolute;
  bottom: 4.5em;
  width: 1em;
  animation: moveArrow 1s alternate-reverse infinite;
}

section.hero svg path {
  fill: #fff;
}

.more-info img {
  width: 100%;
  object-fit: cover;
  height: 20em;
  background-position: 100px 150px;
}

.more-info .title {
  font-weight: bold;
  font-size: 1.25rem;
}

.more-info .desc {
  line-height: 1.5rem;
}

.open-nav {
  transform: translateX(0%);
}

footer {
  width: 140%;
  height: 100px;
  margin: 0 -15em;
  margin-bottom: -55px;
  padding-left: 10em;
  background: #000;
  text-align: center;
}

footer p {
  color: #fff;
  padding-top: 34px;
  margin: 34px 70px 34px 0;
}

.products {
  margin-top: 10em;
  margin-bottom: 20em;
}

.products h1 {
  text-align: center;
  font-size: 4em;
}

.products button.more {
  padding: 10px 20px;
  margin-left: 45%;
  font-size: 1em;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(250deg, #0b04ef, #3f5df4, #4298f8, #07d1fb);
  transition: all .1s ease-in;
}

.products button.more:hover {
  transform: scale(1.05);
}

.products button.more:active {
  transform: scale(0.97);
}

.card-box {
  padding: 0 15%;
}

.card {
  margin: 20px;
  display: block;
  width: 50%;
}

.card img {
  border-radius: 20px;
  width: 20em;
  height: 20em;
  position: absolute;
}

.card .card-details {
  width: 20em;
  height: 20em;
  color: #333;
  border-radius: 20px;
  position: relative;
  background-image: linear-gradient(325deg, rgba(241, 83, 99, 0.7), rgba(249, 139, 110, 0.7), rgba(253, 187, 121, 0.7), rgba(253, 233, 132, 0.7));
  text-align: center;
  transition: all .3s ease-in;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.card h2 {
  font-size: 2em;
  padding: 20px;
}

.card p {
  padding: 20px;
}

.card button {
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  font-size: 1em;
  background-image: linear-gradient(25deg, #ce823f, #d4a34e, #d8c45d, #d9e46d);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  border: none;
}

.card button:active {
  box-shadow: none;
  transform: scale(0.98);
}

.card:hover .card-details {
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.testimonials {
  text-align: center;
  margin-left: 5em;
}

.testimonials h1 {
  font-size: 4em;
  margin-left: -1em;
  margin-bottom: 0;
}

.testimonials p {
  margin-bottom: 5em;
}

.testimonials p span {
  font-weight: bold;
  color: #ffd900;
  text-transform: uppercase;
}

.testimonials .test-card {
  padding: 20px;
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(to bottom, gold, rgba(0, 0, 0, 0)) 1 100%;
}

.testimonials .test-card .test-content {
  padding: 0 2rem;
  margin: 0 auto;
  text-align: center;
}

.testimonials .test-card .test-img img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.test-card.odd-card .test-content {
  text-align: center;
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    font-family: 'Poppins', sans-serif;
  }
  .card-details {
    bottom: 1.7em;
  }
  .card-box {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .card-box .card.right {
    margin-left: 50%;
  }
}

@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    margin-top: 5em;
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: #fff;
    padding: .5em 1.5em;
    font-size: .9em;
    transition: color .2s ease;
  }
  nav ul a:hover {
    background: none;
    color: #7e970d;
  }
  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 42em;
  }
  .logo {
    color: #000;
  }
  .logo span {
    color: #f00;
  }
  section.hero {
    color: #000;
    height: auto;
    width: 40%;
    margin-bottom: 8em;
  }
  section.hero svg.down-arrow {
    margin-top: 1em;
    stroke: #000;
    position: unset;
  }
  section.hero svg.down-arrow path {
    fill: #000;
  }
  .feature {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;
  }
  .feature img {
    width: 25em;
    height: 20em;
  }
  .feature .content {
    text-align: right;
    width: 25em;
  }
  .feature.left {
    grid-template-areas: "left right";
  }
  .feature.left img {
    grid-area: left;
  }
  .feature.left .content {
    text-align: left;
    width: 25em;
    justify-self: left;
  }
  footer {
    width: 120%;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1100px;
    margin: 0 auto;
  }
  .feature {
    gap: 0;
  }
  .card-box {
    display: flex;
    flex-direction: row;
  }
  .card-box .card.right {
    margin-left: 0;
  }
  .test-card {
    display: flex;
  }
  .test-card .test-content h2 {
    text-align: left;
  }
  .test-card .test-content p {
    text-align-last: left;
  }
  .test-card.odd-card {
    flex-direction: row-reverse;
  }
  .test-card.odd-card .test-content h2 {
    text-align: right;
  }
  .test-card.odd-card .test-content p {
    text-align-last: right;
  }
  footer {
    width: 140%;
    margin-left: -18em;
  }
  footer p {
    margin-left: -20em;
  }
}

@keyframes introload {
  0% {
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
  }
  100% {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }
}

@keyframes moveArrow {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */